@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:wght@700&family=Indie+Flower&family=Pangolin&display=swap');
/*
font-family: 'Architects Daughter', cursive;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Pangolin', cursive;
 */
body,html{
    margin:0;
    padding:0;
}
/* variable */
:root{
 prime-color:red;
}

/* navigation */
.navbar::before{
    content: "";
    position: absolute;
    background-color: #b8b4b4;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.8;
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.logo{
    color:white;
    margin: 7px 34px;
}
.logo h1{
    font-family: 'museomoderno', cursive;
    margin: 0px;
}
.logo span{
    padding-left:22px ;
    font-family: 'Pangolin', cursive;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{    
    font-size: 1.4rem;
}

.navbar ul li a{
    display: block;
    color:black;
    padding: 0 20px;
    text-decoration: none;    
    font-weight: bold;
}
.navbar ul li a:hover{
    color:white;
    font-weight: bold;
}


/* home section*/

#home{
    display: flex;   
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 200px 6px 200px;
    height: 650px;    
}
#home::before{
    content: "";
    position: absolute;
    background: url('foody6.jpg') no-repeat center center/cover ;
    height: 820px;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}

#home h1{
    text-align: center;
    color:black;
}


/* services section*/

.services-container{
    padding:6px 200px;
    padding-top: 80px;
}

#services{
    margin:34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#services .box{
    border: 2px solid gray;
    margin:24px 11px;
    border-radius: 9px;
    display: block;
    width: 30%;
    padding-top: 40px;
    padding: 10px;
}

#services .box img{
    height:180px;
}

/* Client Section */
#client-section{
    padding: 40px 0px;
    position: relative;
}

#client-section::before{
    content:"";
    position: absolute;
    background: url('foody6.jpg') center center/cover;
    width:100%;
    height:410px;
    opacity: 0.9;
    z-index:-1;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#client-item{
    padding: 4px 15px;
}

/* Contact */
#contact{
    padding: 50px 0px;
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('foody7.jpg') no-repeat center center/cover;
    opacity: 0.8;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input,
#contact-box textarea{
    width:95%;
    padding:0.8rem;
    font-size: 1.3rem;   
}

#contact-box input[type="submit"]{
    width:100%
}
.form-group{
    padding:4px 0px;
}
#contact-box form{
    width:30%;
}

#contact-box label{
    font-size: 1.6rem;
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
}

/* footer */
footer{
    padding-top: 120px;
   
}

.footer{
    position: relative;
    padding: 24px 200px;
    background-color: grey;
}

/* utilite class  i.e reusable class*/

.liflet{
    font-family: 'Pangolin', cursive;
}
.h-primery{
    font-size: 3.4rem;
    padding: 12px;
    font-family: 'Balsamiq Sans', cursive;
}

.h-secondry{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px;
}

.para{
    text-align: center;
    color:black;
    font-size: 1.6rem;
    font-family: 'Pangolin', cursive;
}

.btn{
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 15px;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 26px;
    font-family: 'Balsamiq Sans', cursive;
}
 
.btn:hover{
    background-color: black;
    color:white
}

.text-center{
    text-align: center;
}


/* responsive design */
@media (max-width:1900px) {
    /* services- section */
.services-container{
    padding: 6px 4px;
    padding-top: 80px;
}
}

@media (max-width:1200px){
    #services .box{
        width:27%;
    }
}

@media (max-width:1100px){
    #services .box img {
        height: 164px;
    }
}

@media (max-width:1200px) and (min-width:800px){
    #services .box{
        width:42%;
    }
}



@media (max-width:900px){
    /* contact section */
    #contact-box form{
        width:50%;
    }

    /* services section */
    #services .box{
        width:100%;
    }

    /* client section */
    #client-section::before{
        height: 571px;
    }

    /* navigation */
    .navbar #menu{
        display: none;
    }   
    .navbar{
        z-index: 2;
    }
    .navbar::before{
        opacity: 1.0;
    }
}


/* utilites */
@media (max-width:700px){
    .para{
        display: none;
    }
    .footer{
        padding: 12px;
    }
    #contact-box form {
        width: 90%;
    }
    /* home section */
    #home{
        padding: 0px 20px;
    }
    .h-primery{
        font-size: 2.9rem;
    }
}

/* min hight section */
@media (min-width:900px){
    .menu-mob{
        display: none;
    }      
}

/* mobile navigation */
.menu-mob{
    background: black;
    position: absolute;
    right: 0;
    top: 0;
    align-items: flex-end;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 48px;
}

#mob-menu{
  display: none;
}

#mob-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#mob-menu ul li{
    padding: 7px 17px;   
    background-color: black; 
    border-bottom: 1px solid white;
}

#mob-menu ul li a{
    text-decoration: none;
    color: white;
    font-size:1.6rem;    
}







